################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GAMESTORE/.vs
/.vs
/GAMESTORE/GameStore.Api/GameStore.Api/GameStore.db-shm
/GAMESTORE/GameStore.Api/GameStore.Api/GameStore.db-wal
